@charset "utf-8";
/* pc */
/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {background-color: yellow; margin: 0; }
h1, ul, li, p, dl, dt, dd {margin: 0; padding:0;}
img{ margin:0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; margin: 0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] ,
i[class^="xi"] {position: relative; display: inline-block; vertical-align: middle;}
i[class^="fa"] span ,
i[class^="xi"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.tablet,
.mobile-tablet,
.mobile {display: none !important;}
br.only-m {content: '';}
br.only-m::after {content: '\00a0';}

/* common */
body {font-family:'NotoSansKR',  'Montserrat'; font-size: 14px; color: #000000; background-color: #ffffff;}
#wrapper {min-width: 1024px; overflow: hidden; position: relative; margin: 0 auto;}
#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; background-color: rgba(0,0,0,0.8); color : #ffffff; font-size: 16px; transition: top 0.3s; z-index: 100000;} 
#skip-nav:focus {top: 0;}

div#bg {display: none; width: 100%; height: 100%; background-color: rgba(0,0,0,0.8); position: absolute; left: 0; top: 0; z-index: 10;}
div#bg.open {display: block;}

/* header */
#header {width: 100%; height: 150px; position: fixed; left: 0; top: 0; background:linear-gradient(#333 5%, rgba(51,51,51,0) 50%); border-bottom:0;opacity: 0.9;  z-index: 100000;} 
#header.open {background: #333; opacity: 1; height: 64.5px;}
#header > div.content-box {width: 1280px; height: 100%; margin: 0 auto;  position: relative; box-sizing: border-box;}
#header > div.content-box::after {display: block; clear: both; content: '';}
#header > div.content-box > * {float: left;}
#header > div.content-box > h1 {display: inline-block; height: 100%; line-height: 64.5px; }
#header > div.content-box > h1 > a {width: 100%; display: block;}
#header > div.content-box > h1 > a > svg{width: 104px; height: 18px; filter: invert(100%) sepia(71%) saturate(0%) hue-rotate(123deg) brightness(116%) contrast(100%);}

/* #gnb */
#gnb { z-index: 100000; }
#gnb > ul {margin-left: 36px;}
#gnb > ul::after{content:''; display: block; clear: both;}
#gnb > ul > li {float: left;}
#gnb > ul > li + li {margin-left: 18px;}
#gnb > ul > li > a {display: block; font-size: 15px; letter-spacing: -0.25px; text-align: center; padding: 23px 9px 19px 9px; z-index: 30; height: 100%; font-weight: 600; width: 100%; color: #fff; box-sizing: border-box; position: relative;}
#gnb > ul > li.open > a{}
#gnb > ul > li > a:hover::after { display: block;content:''; width: 100%; height: 2px; position: absolute; left: 0; bottom: 0; background-color: #333;}
#gnb > ul > li.on > a {color: #669900; font-weight: 700;}

/* #gnb > div.box */
#gnb div.box {display: none; position: absolute; left: 0; top: 64.5px; width: 100%;  color: #ffffff; color: #999999; font-size: 13px; background-color: #fafafa; min-height: 300px; padding: 40px 86px 50px 86px;}
#gnb > ul > li.open div.box{display: block;}
#gnb div.box::after,
#gnb div.box::before {content:""; position:absolute; top:0px; left:100%; width:calc( 100vw - 100% ); height:100%; background:#fafafa; display: block;}
#gnb div.box::after {left:auto; right:100%;}


#gnb div.box > div.nav-box  {float: left; width: 76.35379%;}
#gnb div.box > div.figure {float: right; width: 23.64621%;}

/* #gnb > div.nav-box */
#gnb div.nav-box > p {margin-bottom: 27px;}
#gnb div.nav-box > p > a {font-size: 16px; line-height: 2; display: block; position: relative; display: inline-block; font-weight: 700; color: #333; letter-spacing: -0.25px;}
#gnb div.nav-box > p > a::before {content: ''; width: 100%;height: 1px; position: absolute;left: 0;bottom: 0; background-color: transparent;-webkit-transition: all .4s cubic-bezier(0.39, 0.575, 0.565, 1);
-moz-transition: all .4s cubic-bezier(0.39, 0.575, 0.565, 1);
-ms-transition: all .4s cubic-bezier(0.39, 0.575, 0.565, 1);
-o-transition: all .4s cubic-bezier(0.39, 0.575, 0.565, 1); 
transition: all .4s cubic-bezier(0.39, 0.575, 0.565, 1);}

#gnb div.nav-box > p:hover > a::before {width: 100%; background-color: #666;}
#gnb div.nav-box > p > a::after {content: "\f054";font-style: normal;font-weight: normal; font-family: "Font Awesome 5 Free";margin-left: 8px;color: #333;font-weight: bold;font-size: 1rem}
#gnb div.nav-box > ul {margin-top: -6px;
}
#gnb div.nav-box >  ul::after {content:''; display: block; clear: both;}


#gnb div.nav-box > ul > li {float: left; width: 33.33%;}
#gnb div.nav-box > ul > li > a {display: block; max-width: calc((850px/3) - 95px - 20px); padding-bottom: 8px; color: #333; font-weight: 700; font-size: 16px; position: relative; letter-spacing: -0.25px;}
#gnb div.nav-box > ul > li > a::before {content:''; width: 100%; height: 1px; position: absolute; left: 0; bottom: -1px; background-color: #e5e5e5; }
#gnb div.nav-box > ul > li > a::after {content:''; width: 0%; height: 1px; position: absolute; left: 0; bottom: -1px; background: transparent; -webkit-transform: translateZ(0%);transform: translateZ(0%);-webkit-transition: all .4s cubic-bezier(0.39, 0.575, 0.565, 1);}
#gnb div.nav-box > ul > li:hover > a::after {width: 100%; background-color: #666;} 


#gnb  div.nav-box > ul > li > ul.list > li:first-child {margin-top: 8px;}
#gnb div.nav-box > ul > li > ul.list > li > a {line-height: 2; color: #666; font-size: 14px; font-weight: 600; letter-spacing: -0.25px; transition: all 0.5s;} 
#gnb  div.nav-box >ul > li > ul.list > li:hover > a {color: #000;}

#gnb div.figure > div.thumb > a > div.thumb-box > div.image-box > img {width: 100%; height: auto;}
#gnb div.figure > div.thumb  + div {margin-top: 38px;}
#gnb div.figure > div.thumb > a > div.thumb-box > p {padding: 10px 0 0; font-size: 14px; color: #666; font-family: 'Montserrat'; font-weight: 300;}




#list {overflow: hidden; position: absolute; right: 0; top: 0; height: 70px;}
#list > li {float: left; height: 100%; position: relative;}
#list > li + li {margin-left: 8px;}
#list > li > a {display: block; height: 100%; line-height: 64.5px; font-size: 18px; color: #fff;}
#list > li:nth-child(2) > a > i {position: relative; top: -2px; font-size: 20px;}

/* footer */
#footer {padding: 30px 0 25px; border-top: 1px solid #efefef; background-color: #fafafa; font-size: 14px; font-family: 'Montserrat'; font-size: 14px;}
#footer > .sns {padding: 0 186px; text-align: center;}
#footer > .sns > div.content-box {}

/* footer: sns-list */
#footer > .sns > div.content-box > ul.sns-list {}
#footer > .sns > div.content-box > ul.sns-list > li {margin: 0 30px; display: inline-block;}
#footer > .sns > div.content-box > ul.sns-list > li > a {display: block; width: 30px; height: 30px;}
#footer > .sns > div.content-box > ul.sns-list > li > a > img {width: 100%;}

/* footer: service-list */
#footer > .sns  div.service-box { display: inline-block;} 
#footer ul.service-list {display: inline-block;}
#footer ul.service-list > li {display: inline-block; margin-right: 6px; padding-right: 10px; position: relative;}
#footer ul.service-list > li::after {content: ''; position: absolute; top: 0; right: 0; width: 1px; height: 11px; margin: auto; bottom: 0; background-color: #d9d9d9;}
#footer ul.service-list > li > a {color: #666; line-height: 1.5;}


/* footer: more-footer */
#footer .footer-dropdown {display: inline-block; position: relative; margin-top: 25px;}
#footer .footer-dropdown > button {width: 286px; border: 0 none; text-align: left; line-height: 1.5; position: relative; display: block; padding: 0 30px 0 95px; margin: 0; box-sizing: border-box; font-size: 14px; transition: all 0.2s; background-color: #fafafa;}
#footer .footer-dropdown > button::before {display: inline-block; content: "LANGUAGE";
position: absolute; top: 50%; left: 5px;font-family: 'Montserrat', 'NotoSans'; font-weight: 300; transform: translateY(-50%);}
#footer .footer-dropdown > button::after {content: ''; display: block; position: absolute; right: 5px; top: 50%; margin-top: -3px; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #000}

#footer .footer-dropdown > button.on::after {content: ''; display: block; position: absolute; right: 5px; top: 50%; margin-top: -3px; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid #000; border-top: transparent;}

#footer .footer-dropdown-option {position: absolute; left: 0; bottom: 100%; width: 100%; border: 1px solid #333; box-sizing: border-box; box-shadow: 0 2px 2px rgb(0 0 0 / 15%); display: none;}
#footer .footer-dropdown-option.on {display: block;}
#footer .footer-dropdown-option > li {background-color: #fff;}
#footer .footer-dropdown-option > li.on {background-color: #333;}
#footer .footer-dropdown-option > li > a {display: block;  font-weight: 300; padding: 0 20p; line-height: 3;  }
#footer .footer-dropdown-option > li.on > a {font-weight: 400; color: #fff;}


#footer > .sns > div.copyright {font-weight: 300; color: #666; font-size: 12px; position: relative;  margin-top: 10px;}
#footer > .sns  > div.copyright > div.service {width: 100%; margin: 7px 0; }
#footer > .sns  > div.copyright > div.service > p {font-weight: 300;box-sizing: border-box; color: #666;}

#footer > .sns  > div.copyright > div.small-box {overflow: hidden; display: inline-block;}
#footer div.copyright > div.small-box > small {font-size: 12px; float: left;}
#footer div.copyright > div.small-box  > a {max-width: 50px; margin-left: 20px; margin: 0 0  0 9px; display: inline-block;}
#footer div.copyright > div.small-box  > a > img {width: 100%; float: left;}



/* main */
#main {width: 100%;}
#main-visual {max-width: 1920px;}
#main-visual > div.content-box {}
#main-visual > div.content-box > div.image-box {position: relative;}
#main-visual > div.content-box > div.image-box > div.box {position: relative;}
#main-visual > div.content-box > div.image-box > div.box > p.dummy {opacity: 0;}
#main-visual > div.content-box > div.image-box > div.box > p.dummy > img {width: 100%;}
#main-visual > div.content-box ul.image-slide {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
#main-visual > div.content-box ul.image-slide > li {position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none;}

/* main-visual: animation */
#main-visual > div.content-box ul.image-slide > li.on {display: block;}
#main-visual > div.content-box ul.image-slide > li.show {animation: show-slide 1s ease 0s 1 normal forwards; display: block;}
#main-visual > div.content-box ul.image-slide > li.hide {animation: hide-slide 1s ease 0s 1 normal forwards; display: block;}

#main-visual > div.content-box ul.image-slide > li:nth-child(1) {display: block;}
#main-visual > div.content-box ul.image-slide > li > img {width: 100%;}
#main-visual > div.content-box ul.image-slide > li > div.text {min-width: 1280px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
#main-visual > div.content-box ul.image-slide > li:nth-child(5) > div.text {}
#main-visual > div.content-box ul.image-slide > li > div.text > div.box {width: 680px;}
#main-visual > div.content-box ul.image-slide > li:nth-child(5) > div.text > div.box {float: right;}
#main-visual > div.content-box ul.image-slide > li > div.text > div.box > p.first {font-size: 32px; font-weight: 500; position: relative; top: -30px;}
#main-visual > div.content-box ul.image-slide > li > div.text > div.box > p.second {position: relative; bottom: -30px; opacity: 0;} 
#main-visual > div.content-box ul.image-slide > li > div.text > div.box {display: none;}
#main-visual > div.content-box ul.image-slide > li > div.text > div.box.on {display: block;}
#main-visual > div.content-box ul.image-slide > li > div.text > div.box.on > p.first {top: 0; animation: text-slide1 1s ease 0s 1 normal forwards;}
#main-visual > div.content-box ul.image-slide > li > div.text > div.box.on > p.second {bottom: 0; animation: text-slide2 1s ease 0.5s 1 normal forwards;}

#main-visual > div.content-box ul.image-slide > li > div.text > div.box > p.second > span {display: block; margin-top: 11px; font-size: 16px; font-weight: 700; color: #333;}
#main-visual > div.content-box ul.image-slide > li > div.text > div.box > p.second > a {display: inline-block; padding: 9px 16px 13px; height: 36px;  box-sizing: border-box; background-color: #000; color: #fff; font-size: 14px; font-weight: 700; margin-top: 13px; transition: all 0.5s; border: 1px solid #000; line-height: 13px;}
#main-visual > div.content-box ul.image-slide > li > div.text > div.box > p.second > a:hover { border: 1px solid #000; color: #000; background-color: #fff;}

/* Animation: image-slide */
@keyframes show-slide {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

@keyframes hide-slide {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes text-slide1 {
  0% {opacity: 0; top: -30px;}
  100% {opacity: 1; top: 0;}
}
@keyframes text-slide2 {
  0% {opacity: 0; bottom: -30px;}
  100% {opacity: 1; bottom: 0;}
}
 
/* main-visual: indicator */
#main-visual div.small-box {position: absolute; left: 50%; transform: translateX(-50%); bottom: 37px; overflow: hidden;  width: 150px; }
#main-visual div.small-box > * {float: left;}
#main-visual div.small-box > div > a {display: block;width: 18px; height: 18px; position: relative; top: -2px;}
#main-visual div.small-box > div > a > svg {position: absolute; left: 0; top: 50%; transform: translateY(-50%); display: block;}

#main-visual div.small-box  a.play > svg {display: none;}
#main-visual div.small-box  a.play > svg:first-child {display: block;}
#main-visual div.small-box  a.play.on > svg:first-child {display: none;}
#main-visual div.small-box  a.play.on > svg + svg {display: block;}


#main-visual ul.indicator {text-align: center; overflow: hidden; margin-left: 8px; height: 18px;}
#main-visual ul.indicator > li {float: left; vertical-align: middle; position: relative; top: 2px; transition: 0.5s;}

#main-visual ul.indicator > li + li {margin-left: 8px;}
#main-visual ul.indicator > li > a {display: block; width: 12px; height: 12px; border-radius: 50px; background-color: #000; text-indent: -999px; overflow: hidden;}
#main-visual ul.indicator > li.on > a {width: 32px; transition: all 0.5s;}

/* main-visual: controller */
#main-visual p.control {z-index: 10000;} 
#main-visual p.control > a { position: absolute; top: 50%; transform: translate(0, -50%); width: 15px; height: 62px; display: block;  text-indent: -999px; overflow: hidden; padding: 10px;;}
#main-visual p.control > a.prev::before,
#main-visual p.control > a.next::after
 {content:''; position: absolute; width: 36px; height:36px; top: 22px;
display: block;  border-top: 2px solid #000; border-left: 2px solid #000; }
#main-visual p.control > a.prev::before {transform: rotate(-45deg) ; left: 16px; }    
#main-visual p.control > a.next::after {transform: rotate(135deg); left: -16px; }    
#main-visual p.control > a.prev {left: 43px;}
#main-visual p.control > a.next {right: 43px; left: auto;}

/* common */
section {}
section:not(:first-child) > div.content-box {max-width: 1044px; margin: 0 auto; text-align: center;}
section:not(:first-child) > div.content-box > a {display: block;}
section:not(:first-child) > div.content-box div.image-box {}
section:not(:first-child) > div.content-box div.image-box > img {width: 1044px;}

section:not(:first-child) > div.content-box > h3 {font-family: 'Montserrat'; font-size: 32px; font-weight: 500; color: #000; text-align: center; margin-bottom: 20px;}
section:not(:first-child) > div.content-box  p {padding: 20px 0 18px; color: #666; font-size: 18px; font-weight: 600;}



/* section: hera-foundation */
#hera-foundation {padding: 78px 0 18px;}
#hera-foundation > div.content-box {max-width: none;}
#hera-foundation > div.content-box  div.image-box {background-color: #c9c9c9;}


/* section: hera-tint */
#hera-tint {padding: 35px 0 0;}

/* section: hera-product */
#hera-product {margin: 90px auto 0;}
#hera-product > div.content-box {overflow: hidden;}
#hera-product > div.content-box > div.box {float: left; width: 50%; box-sizing: border-box;}
#hera-product > div.content-box > div.box:first-child {padding-right: 30px;}
#hera-product > div.content-box > div.box:last-child {padding-left: 30px; border-left: 1px solid #eee;}
#hera-product > div.content-box > div.box > h3 {font-family: 'Montserrat'; font-size: 32px; margin-bottom: 30px; font-weight: 500; text-align: left;}
#hera-product > div.content-box > div.box > ul.list {overflow: hidden;}
#hera-product > div.content-box > div.box > ul.list > li {float: left; width: calc(50% - 30px); margin-right: 30px;}
#hera-product > div.content-box > div.box > ul.list > li > a {}
#hera-product > div.content-box > div.box > ul.list > li > a > div.image {}
#hera-product > div.content-box > div.box > ul.list > li > a > div.image > img {width: 178px;}
#hera-product > div.content-box > div.box > ul.list > li > a > div.text {text-align: left; }
#hera-product > div.content-box > div.box > ul.list > li > a > div.text > p {font-size: 18px; font-weight: 700; margin-top: 45px; padding: 0; color: #333;}
#hera-product > div.content-box > div.box > ul.list > li > a > div.text > span {font-size: 16px; font-weight: 600; color: #666; margin: 14px 0 16px; display: block;}

/* section: hera-sns */
#hera-sns {padding: 65px 0 124px;}
#hera-sns > div.content-box > h3 {font-weight: 400; letter-spacing: 0.5px;}
#hera-sns > div.content-box > p.content {margin-bottom: 12px; font-size: 14px; font-weight: 700; color: #4d5866; padding:0;}
#hera-sns > div.content-box > p.icon {padding: 0 0 10px 15px; font-weight: 400; font-size: 12px; color: #000; position: relative; display: inline-block;} 
#hera-sns > div.content-box > p.icon::before {    content:''; width: 12px; height: 12px; background: url('../img/window.png') center center no-repeat; position: absolute; left: 0; top: 3px;;}
#hera-sns div.banner-slide {position: relative;}
#hera-sns div.banner-slide > div.box {overflow: hidden;}
#hera-sns div.banner-slide > div.box > ul {overflow: hidden; position: relative;}
#hera-sns div.banner-slide > div.box > ul > li {float: left; width: 250px; height: auto; margin: 0 7px; position: relative;}
#hera-sns div.banner-slide > div.box > ul > li:first-child {margin: 0 7px 0 0;}
#hera-sns div.banner-slide > div.box > ul > li > a {}

/* section: hera-sns / image hover효과 */
#hera-sns div.banner-slide > div.box > ul > li > a > div.image {}
#hera-sns div.banner-slide > div.box > ul > li > a > div.image > img {width: 100%; height: auto; transition: all 0.3s;}
#hera-sns div.banner-slide > div.box > ul > li:hover > a > div.image > img {transform: translateY(-10%); transform-origin: center center;}

/* section: hera-sns / text hover효과 */
#hera-sns div.banner-slide > div.box > ul > li > a > div.text {position: absolute; left: 0; bottom: -100%; width: 100%; background-color: #fff; padding: 10px 15px; text-align: center; box-sizing: border-box; border: 1px solid #eee; transition: all 0.3s;}
#hera-sns div.banner-slide > div.box > ul > li:hover > a > div.text {transition: all 0.3s; bottom: 0;}
#hera-sns div.banner-slide > div.box > ul > li:hover > a > div.text {bottom: 0; transition: 0.3s;}
#hera-sns div.banner-slide > div.box > ul > li > a > div.text > span {display: block;}
#hera-sns div.banner-slide > div.box > ul > li > a > div.text > span:first-child {font-size: 15px; font-weight: 700; color: #000;margin-bottom: 5px; }
#hera-sns div.banner-slide > div.box > ul > li > a > div.text > span:last-child {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

#hera-sns div.banner-slide > p.control {}
#hera-sns div.banner-slide > p.control > a {position: absolute; left: 0; top: 0; width: 57px; height: 100%; background: rgba(255, 255, 255, 0.5); transition: all 0.3s;}
#hera-sns div.banner-slide > p.control > a > img {top: 50%; position: absolute; left: 50%; transform: translate(-50%, -50%);}
#hera-sns div.banner-slide > p.control > a.next {right:0; left: auto;}
#hera-sns div.banner-slide > p.control > a:hover {background: rgba(255, 255, 255, 0.8);}


/* sub-page: brandstory */
body.sub #main {padding-top: 65px;}
body.sub #main > section {}


/* sub-page */
#brand-main {background: url(../img/sub/br-img01.png) center center no-repeat;     position: relative; height: 90vw; max-height: 1605px; background-color: blue;}
#brand-main > div.content-box {height: 1205px; max-width: 1280px; width: calc(100% - 20px); margin: 0 auto; padding: 0 10px;}
#brand-main > div.content-box > div.text-box {}
#brand-main > div.content-box > div.text-box > img {display: block; padding-bottom: 23px; position: relative;}


/* animation */
@keyframes imgShow {
  0% {bottom: -100px; opacity: 0;}
  100% {bottom: 0; opacity: 1;}
}

@keyframes imgHide {
  0% {bottom: 0; opacity: 1;}
  100% {bottom: -100px; opacity: 0;}
}


#brand-main > div.content-box > div.text-box > img:nth-child(1) {padding-top: 280px;}
#brand-main > div.content-box > div.text-box > img:nth-child(3) {padding-bottom: 50px;}

#brand-main > div.content-box > div.text-box > p {margin: 45px 0 24px; font-size: 22px;  line-height: 2; font-weight: 700; color: #fff; font-family: 'Montserrat';  position: relative; opacity: 0;}

#brand-main > div.content-box > div.text-box > img,
#brand-main > div.content-box > div.text-box > p { animation: imgHide 1s ease 0s 1 normal forwards;}

#brand-main.on > div.content-box > div.text-box > img  {animation: imgShow 1s ease 0s 1 normal forwards;}
#brand-main.on > div.content-box > div.text-box > p  {animation: imgShow 1s ease 0.5s 1 normal forwards;}
/* #brand-main.on > div.content-box > div.text-box > p {animation: imgShow 1s ease 0s 0 normal forwards;} */

/* sub-page: #brand-keywords */
#brand-keywords > div.content-box {width: calc(100% - 40px); max-width: 1856px; margin: -13vw auto 110px; position: relative; overflow: hidden; }
#brand-keywords > div.content-box > div.box {float: left; width: calc((100% - 1px) / 3); text-align: center; color: #333;}
#brand-keywords > div.content-box > div.box > img {position: relative; bottom: -100px;}
#brand-keywords > div.content-box > div.box > p {font-family: 'Montserrat'; margin: 38.4px 0 19.2px; font-weight: 700; font-size: 42px; text-transform: uppercase; position: relative; bottom: -100px;}
#brand-keywords > div.content-box > div.box > span {display: block; font-size: 24px; position: relative; bottom: -100px;}

#brand-keywords > div.content-box > div.box > img,
#brand-keywords > div.content-box > div.box > p,
#brand-keywords > div.content-box > div.box > span {animation: imgHide 1s ease 0s 1 normal forwards;}
#brand-keywords.on > div.content-box > div.box > img {animation: imgShow 1s ease 0s 1 normal forwards;}
#brand-keywords.on > div.content-box > div.box > p {animation: imgShow 1s ease 0.5s 1 normal forwards;}
#brand-keywords.on > div.content-box > div.box > span {animation: imgShow 1s ease 1s 1 normal forwards;}

/* sub-page: #brand-intro */
#brand-intro {background: url(../img/sub/bi-bg.gif);}
#brand-intro > div.content-box {padding: 135px 0; }
#brand-intro > div.content-box > h3 { position: relative;}
#brand-intro > div.content-box > h3 > img {max-width: 100%;}
#brand-intro > div.content-box > h3 > img:last-child {margin: 90px 0 60px;}
#brand-intro > div.content-box > p {font-size: 22px; margin: 24px 0; line-height: 2; color: #333; font-weight: 700;opacity: 0;  position: relative;}

#brand-intro > div.content-box > h3,
#brand-intro > div.content-box > img,
#brand-intro > div.content-box > p {animation: imgHide 1s ease 0s 1 normal forwards; position: relative;}

#brand-intro.on > div.content-box > h3 {animation: imgShow 1s ease 0s 1 normal forwards;}
#brand-intro.on > div.content-box > img {animation: imgShow 1s ease 0s 1 normal forwards;}
#brand-intro.on > div.content-box > p {animation: imgShow 1s ease 1s 1 normal forwards;}

/* sub-page: #brand-magazine */
#brand-magazine {}
#brand-magazine > div.content-box { width: 100%; max-width: 1490px; margin: 120px auto 0; overflow: hidden;}
#brand-magazine > div.content-box > div.box {}
#brand-magazine > div.content-box > div.box > img {width: 100%;height: auto; position: relative; bottom: -100px; opacity: 0; }
#brand-magazine > div.content-box > div.box.left {float: left; width: 47.047%; max-width: 701px; padding-top: 240px; padding-left: 20px;}
#brand-magazine > div.content-box > div.box.right {float: right; width: 42.1477%;
max-width: 628px; padding-right: 20px; color: #333;}
#brand-magazine > div.content-box > div.box.right > div > p {font-size: 30px; margin: 65px 0 30px; font-weight: 400; position: relative; bottom: -100px;  opacity: 0;}
#brand-magazine > div.content-box > div.box.right > div > p > em {font-weight: 700; opacity: 0;}
#brand-magazine > div.content-box > div.box.right > div > p.sub {font-size: 20px; line-height: 2; margin: 23px 0; font-weight: 700; letter-spacing: -1px; opacity: 0;}

#brand-magazine > div.content-box > div.box > img,
#brand-magazine > div.content-box > div.box.right > div > p,
#brand-magazine > div.content-box > div.box.right > div > p > em,
#brand-magazine > div.content-box > div.box.right > div > p.sub {animation: imgHide 1s ease 0s 1 normal forwards;}

#brand-magazine.on > div.content-box > div.box > img:first-child {animation: imgShow 1s ease 0.5s 1 normal forwards;}
#brand-magazine.on > div.content-box > div.box > img:last-child {animation: imgShow 1s ease 0s 1 normal forwards;}
#brand-magazine.on > div.content-box > div.box.right > div > p,
#brand-magazine.on > div.content-box > div.box.right > div > p > em {animation: imgShow 1s ease 2s 1 normal forwards;}
#brand-magazine.on > div.content-box > div.box.right > div > p.sub {animation: imgShow 1s ease 2.5s 1 normal forwards;}

/* sub-page: #brand-product */
#brand-product {}
#brand-product > div.content-box {width: 100%; max-width: 1920px; padding-top: 1vw;
text-align: center; margin: 0 auto; color: #333;}
#brand-product > div.content-box > h3 {font-family: 'Montserrat'; font-size: 75px; margin-top: 13vw; letter-spacing: 1.9rem; font-style: medium;}
#brand-product > div.content-box > p {}
#brand-product > div.content-box > p.text1 {font-size: 38px; margin: 65px 0 45px; font-weight: bold; line-height: 1.5; font-weight: 700; color: #333; letter-spacing: -0.25px;}
#brand-product > div.content-box > p.text2 {font-size: 24px; color: #464646; font-weight: 700; line-height: 2;}
#brand-product > div.content-box > div.image-box {width: 100%; margin-top: 140px; overflow: hidden;}
#brand-product > div.content-box > div.image-box > div {text-indent: -999px; overflow: hidden; float: left; position: relative;}
#brand-product > div.content-box > div.image-box > div:nth-child(1) {background: url(../img/sub/bp1.png) center center no-repeat; width: 39.0104%; height: 55.3646vw;   background-size: cover; background-position: top center;}
#brand-product > div.content-box > div.image-box > div:nth-child(2) {height: 55.3646vw; background-position: -34vw 0; width: 60.9896%;}
#brand-product > div.content-box > div.image-box > div:nth-child(2) > video {    max-width: 200%; height: 100%; position: absolute; left: 20%; top: 50%; transform: translateY(-50%) translateX(-50%); display: inline-block;}
#brand-product > div.content-box > div.image-box > div:nth-child(3) {    height: 44.4271vw;    width: 63.8021%; background-color: #fff; }
#brand-product > div.content-box > div.image-box > div:nth-child(4) {background: url(../img/sub/bp4.jpg) center center no-repeat; width: 36.1979%;  background-size: cover; height: 44.4271vw;}

/* media query */
@media screen and (max-width: 1500px) {
    #main-visual > div.content-box ul.image-slide > li > div.text {padding: 0 100px;   box-sizing: border-box;}
    #main-visual > div.content-box ul.image-slide > li > div.text > div.box {width: 600px;} 
}

@media screen and (max-width: 1300px) {
    /* #main-visual > div.content-box ul.image-slide > li > div.text {width: 100%; padding: 0 100px; box-sizing: border-box;}
    #main-visual > div.content-box ul.image-slide > li > div.text > div.box {width: 500px;}  */
} 