@charset "utf-8";

@font-face {
  font-family: 'Montserrat';
  font-style: medium;
  font-weight: 100;
  src: local('※'),
      url('../font/Montserrat-Thin.woff2') format('woff2');
}


@font-face {
  font-family: 'Montserrat';
  font-style: medium;
  font-weight: 200;
  src: local('※'),
      url('../font/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: medium;
  font-weight: 300;
  src: local('※'),  
      url('../font/Montserrat-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: medium;
  font-weight: 400;
  src: local('※'),  
      url('../font/Montserrat-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: medium;
  font-weight: 500;
  src: local('※'),
      url('../font/Montserrat-Black.woff2') format('woff2');
}


@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 600;
  src: local('※'),
      url('../font/NotoSansKR-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 700;
  src: local('※'),
      url('../font/NotoSansKR-Medium.woff2') format('woff2');
}

